<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="scan" default="scan"/>
  <arg name="laser_model" default="sick-571"/>

  <!-- Sync Mapping - -->
  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find pal_navigation_cfg_stockbot)/config/mapping/slam_toolbox.yaml" />
  </node>

</launch>
