<?xml version="1.0"?>
<launch>
  <node name="pal_head_manager" pkg="pal_head_manager" type="pal_head_manager_node">
    <remap from="camera_info"        to="/stereo/left/camera_info"/>
    <remap from="sound_localisation" to="/sound_localisation"/>
    <remap from="faces"              to="/face_tracker/faces"/>
    <remap from="fullbodies"         to="/fullbody_2d_detector/detections"/>
    <remap from="persons"            to="/pal_person/detections"/>
    <remap from="waving"             to="/wave_detector_far/actions"/>
    <rosparam param="max_velocity">0.8</rosparam>
    <rosparam param="min_duration">0.8</rosparam>
  </node>
</launch>

