<launch>

 <arg name="topic" default="/octomap_point_cloud_centers" />
 <arg name="path" default="$(env PWD)/"  />

 <node name="save_point_cloud2" pkg="pcl_utils" type="save_point_cloud2" output="screen">
   <param name="topic" value="$(arg topic)" />
   <param name="path" value="$(arg path)" />
 </node>

</launch>
