<?xml version="1.0"?>
<launch>
<arg name="plane_height"    default="0"       /> <!-- by default we expect using the floor as calibration plane -->
<arg name="camera"          default="base"    /> <!-- "base" for camera pointing downwards or "roof" for camera pointing upwards -->
<arg name="max_dist"        default="1.5"     />
<node name="xtion_pose_calibration" pkg="pal_pcl" type="pal_stockbot_cam_pose_calibration_node">
  <remap from="cloud" to="/$(arg camera)_rgbd_camera/depth/points"/>
  <param name="reference_plane_height" type="double" value="$(arg plane_height)"  />
  <param name="camera"                 type="string" value="$(arg camera)"  />
  <param name="max_dist" type="double" value="$(arg max_dist)"  />
</node>
</launch>
