<launch>

   <arg name="ifile" default="$(env HOME)/.pal/scans.karto"/>
   <arg name="omap" default="$(env HOME)/.pal/map"/>
   <arg name="graph_file" default="$(env HOME)/.pal/g2o_graph.g2o"/>
   <arg name="output_scans" default="$(env HOME)/.pal/processed_scans.karto"/>
   <arg name="output_poses" default="$(env HOME)/.pal/processed_poses.karto"/>
   <arg name="resolution" default="0.025"/>

  <node pkg="pal_karto" type="offline_slam_karto" name="offline_slam_karto" output="screen">
    <rosparam file="$(find pal_karto)/config/karto.yaml" command="load" />
    <rosparam file="$(find pal_karto)/config/scan_matcher.yaml" command="load" />
    <param name="input_file" value="$(arg ifile)"/>
    <param name="map_file" value="$(arg omap)"/>
    <param name="graph_file" value="$(arg graph_file)"/>
    <param name="output_scans" value="$(arg output_scans)"/>
    <param name="output_poses" value="$(arg output_poses)"/>
    <param name="resolution" value="$(arg resolution)"/>

  </node>
</launch>
