<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="bt_model_path"       default="" />
    <arg name="launch_prefix"       default="" />
    <arg name="bt_groot_logger"     default="false"/>
    <arg name="bt_terminal_logger"  default="true"/>

    <node name="nav_decision_maker" pkg="mbf_behaviortree" type="navigator_node" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="bt_model_path"         value="$(arg bt_model_path)"/>
        <param name="bt_groot_logger"       value="$(arg bt_groot_logger)"/>
        <param name="bt_terminal_logger"    value="$(arg bt_terminal_logger)"/>
    </node>
</launch>
