<launch>
	<!-- Optional: if not provided the param /pal_robot_info/type will be used -->
	<!-- Notice: if provided has the priority over /pal_robot_info/type -->
	<arg name="robot_type"     default=""/>


	<!-- Run the map configuration server -->
	<node name="$(anon map_configuration_manager)" pkg="pal_map_manager" type="map_configuration_manager_node" output="screen">
        <param name="robot_type"     value="$(arg robot_type)"/>
    </node>

</launch>