<h1>✅ Análisis completado</h1>

<p>Estos son tus resultados de hoy:</p>

<ul>
    <li><strong>Postura</strong>
        <ul>
            <li>Hombros: {{ postura_hombros }}</li>
            <li>Cadera: {{ postura_cadera }}</li>
            <li>Torso: {{ postura_torso }}</li>
        </ul>
    </li>

    <li><strong>Temperatura:</strong> {{ temperatura }} °C</li>
    <li><strong>Pulso:</strong> {{ pulso }} bpm</li>
    <li><strong>Reflejos:</strong> {{ reflejos }}</li>
</ul>

<br>

<a href="{% url 'historial' %}">
    📊 Ver historial completo
</a>

<br><br>

<a href="{% url 'salir' %}">
    🚪 Cerrar sesión
</a>
