<?xml version="1.0"?>

<launch>

  <arg name="odom"    default="/mobile_base_controller/odom"/>

  <rosparam file="$(find open_karto)/config/scan_matcher.yaml" command="load" />

  <node name="scan_matcher" pkg="open_karto" type="scan_matcher_node" respawn="false">
    <remap from="odom"    to="$(arg odom)"/>
  </node>

</launch>
