<launch>
  <arg name="navigation_type" default="simple" />
  <arg name="node_name" default="pal_waypoint" />
  <arg name="launch_poi_server" default="true" />

  <node pkg="pal_waypoint" type="waypoint_navigation_server_node" name="$(arg node_name)" output="screen">
    <!--Supported values are corridor, simple, aisle, composite -->
    <param name="navigation_type" value="$(arg navigation_type)"/>
  </node>

  <!-- ideally this should be moved to another launch   -->
  <group if="$(arg launch_poi_server)">
    <node pkg="pal_waypoint" type="poi_marker_server_node" name="poi_marker_server_node" output="screen" />
  </group>
</launch>
