<launch>

  <arg name="training" default="false"/>

  <!-- load the configuration file -->
  <rosparam file="$(find pal_loc_measure)/config/anomaly_gaussians.yaml"
      command="load" ns="pal_loc_measure" />

  <!-- Pal Localization Measure  -->
  <node pkg ="pal_loc_measure"
        type="pal_loc_measure_node.py"
        name="pal_loc_measure"
        output="screen"
        args="$(arg training)">
    <remap from="odom" to="mobile_base_controller/odom"/>
  </node>

</launch>
